.StoreContainer {
    background-color: #f1f1f7;
    width: 100%;
    /* height: 100vh; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 5rem;
    padding-bottom: 2rem;
}

.container {
    max-width: 1140px;
    padding: 0 1rem;
    width: 100%;
    margin: 0 auto;
}

.row {
    display: flex;
}

.StoreContainerLeft{
    flex-basis: 40%;
}


.StoreContainerLeft span{
    color: #999999;
    font-size: 16px;
    line-height: 1.4;
    font-weight: 500;
}

.StoreContainerLeft h3 {
    font-size: 3.5rem;
    line-height: 1.2;
    letter-spacing: 1.3px;
    color: #1b85ea; 
    font-weight: 300;
}


.StoreContainerRight{
    flex-basis: 60%;
    display: flex;
    flex-wrap: wrap;
}


.block {
    width: 50%;
    margin-bottom: 40px;
    padding-top: 0px;
}

.blockIcon{
    padding-bottom: 30px;
}

.blockIcon svg {
    color: #1b85ea;
    width: 3.5rem;
    height: 3.5rem;

}

.blockTitle p{
    font-size: 18px;
    color: black;
    font-weight: 700;
    padding-bottom: 30px;
}

.blockContent{
    line-height: 30px;
    color: #999999;
    text-align: left;
    font-size: 18px;
}


@media only screen and (max-width:768px) {  
    .block {
        width: 100%;
        margin: 20px;
    }
    .row {
        flex-direction: column;
    }
}


@media only screen and (max-width:320px){
    .StoreContainerLeft h3 {
        font-size: 2rem;
    }
    .blockIcon{
        padding-bottom: 0;
    }
    .blockTitle p{
        padding-bottom: 0;
    }
    .blockContent{
        width: 100%;
    }
    .block {
        padding-right: 0;
    }
    .blockIcon svg {
        color: #1b85ea;
        width: 2.5rem;
        height: 2.5rem;
    
    }
}